{% extends "base.html" %}

{% block title %}
Change Password
{% endblock %}

{% block content %}

<div class="container">

    <h1>🔐 Change Password</h1>

    <form method="POST">

        <p>
            <label>
                Current Password
            </label>
        </p>

        <p>
            <input
                type="password"
                name="current_password"
                required
            >
        </p>


        <p>
            <label>
                New Password
            </label>
        </p>

        <p>
            <input
                type="password"
                name="new_password"
                minlength="8"
                required
            >
        </p>


        <p>
            <label>
                Confirm New Password
            </label>
        </p>

        <p>
            <input
                type="password"
                name="confirm_password"
                minlength="8"
                required
            >
        </p>


        <button type="submit">
            🔐 Change Password
        </button>

    </form>


    <p>
        <a
            class="button"
            href="{{ url_for(
                'profile',
                username=username
            ) }}"
        >
            ← Back to Profile
        </a>
    </p>

</div>

{% endblock %}